#header{
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
#header::before{
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
}
#header span{
  position: relative;
  z-index: 1;
  font-family: 'Dancing Script', cursive;
}
#header span a{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}
#header span a span{
  margin-left: 5px;
  cursor: url(../img/click.cur), auto;
}
#header .button{
  position: relative;
  z-index: 1;
  display: flex;
  gap: 20px;
}
#header .button button{
  border: none;
  color: white;
  background-color: transparent;
  cursor: url(../img/click.cur) , auto;
  transition: all 0.6s;
}
#header .button button:hover{
  color: #0acdce;
  scale: 1.15;
}
#title{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#title::before{
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../img/title_bg.avif);
  position: absolute;
  opacity: 0.3;
}
#title h1{
  font-size: 50px;
  font-weight: 900;
  margin-top: -8%;
  animation-name: titleani;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  letter-spacing: 2px;
}
@keyframes titleani{
  0%{
    transform: translateY(-30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
#title p{
  letter-spacing: 10px;
  word-spacing: 10px;
  font-size: 14px;
  animation-name: titleani2;
  animation-delay: 1s;
  animation-duration: 3s;
  opacity: 0;
  animation-fill-mode: forwards;
  margin-top: 20px;
}
@keyframes titleani2{
  0%{
    transform: translateY(-30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 0.8;
  }
}
#title span{
  position: absolute;
  bottom: 100px;
  width: 50px;
  height: 50px;
  animation-name: blink;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: initial;
  background-image: url(../img/downarrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130%;
}
@keyframes blink{
  50%{
    opacity: 0.4;
    transform: translateY(-10px);
  }
}
#profile{
  padding: 70px 150px;
  display: flex;
  align-items: center;
  gap: 6%;
}
#profile figure{
  width: 25%;
  border: 1px solid;
}
#profile figure img{
  width: 100%;
  height: 100%;
}
#profile .pf{
  width: 70%;
  padding: 1%;
}
#profile .pf h3{

  font-size: 30px;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-weight: 700;
}
#profile .pf p{
  margin-top: 4%;
  line-height: 1.5;
  color: #bababa;
}
#profile .pf .skills{
  height: 30%;
  background-image: url(../img/skills.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-left: -1.5%;
}
#ports{
  padding: 70px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #111 !important;
}
#ports h1{
  letter-spacing: 10px;
  font-size: 30px;
  font-weight: 900;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: initial;
}
#ports .portfolio{
  margin-top: 1.2%;
  display: flex;
  height: 400px;
  column-gap: 5%;
}
#ports .portfolio figure{
  width: 50%;
  height: 100%;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #888;
}
#ports .portfolio figure img{
  width: 100%;
  height: 100%;
}
#ports .portfolio .subtext{
  width: calc(50% - 5%);
  height: 100%;
  padding-top: 1%;
  position: relative;
}
#ports .portfolio .subtext h2{

  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
}
#ports .portfolio .subtext p{
  color: #bababa;
  margin-top: 5%;
  font-size: 18px;
}
#ports .portfolio .subtext .skills{
  font-size: 0;
  margin-top: 5%;
  display: flex;
  column-gap: 1.5%;
}
#ports .portfolio .subtext .skills .skill{
  color: #0acdce;
  font-size: 13px;
  border: 1px solid rgba(10, 205, 206, 0.6);
  padding: 5px 10px;
  border-radius: 20px;
}
#ports .portfolio .subtext button{
  padding: 3% 9%;
  position: absolute;
  bottom: 1%;
  border: none;
  background-color: #1b4c4c;
  color: #0acdce;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 50px;
  transition: all 0.5s;
  cursor: url(../img/click.cur) ,auto !important;
}
#ports .portfolio .subtext button:hover{
  color: black;
  background-color: rgb(10, 205, 206);
}
#cont{
  padding: 70px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#cont .contact{
  display: flex;
  column-gap: 5%;
  height: 400px;
  position: relative;
}
#cont .contact figure{
  border: 1px solid;
  width: 25%;
  height: 100%;
}
#cont .contact figure img{
  width: 100%;
  height: 100%;
}
#cont .contact .subtextw{
  width: 70%;
  height: 100%;
  padding-top: 1%;
}
#cont .contact .subtextw h2{
  font-weight: 800;
  font-size: 22px;
  word-spacing: 5px;
}
#cont .contact .subtextw p{
  margin-top: 2%;
  line-height: 1.5;
  color: #bababa;
  transition-delay: 1.5s;
  transform: translate3d(0,20px,0) !important;
}
#cont .contact .subtextw p span{
/*   color: #0acdce; */
}
#cont .contact .subtextw button{
  padding: 1% 2.5% 1% 5%;
  position: absolute;
  bottom: 0;
  border: none;
  background-color: #1b4c4c;
  color: #0acdce;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 50px;
  transition: all 0.5s;
  cursor: url(../img/click.cur) ,auto !important;
  background-image: url(../img/mail.svg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 25% 80%;
}
#cont .contact .subtextw button:hover{
  
  color: black;
  background-color: rgb(10, 205, 206);
}