.slick-prev{
    left: -50px !important;
}
.slick-next{
    right: -50px !important;
}
.slick-dots{
    bottom: -50px !important;
}
.slick-dots li button{

}
.slick-dots li button::before{
    color: white !important;
    opacity: 0.6;
    transition: all 0.6s !important;
}
.slick-dots li.slick-active button:before{
    opacity: 1 !important;
    scale: 1.7 !important;
}
button{
    cursor: url(../img/click.cur), auto !important;
}